{% extends 'base.html' %}

{% block title %}Удалить{% endblock %}

{% block content %}
<form action="" method="POST">
    {% csrf_token %}
    <div class="modal-dialog" role="document">
        <div class="modal-content h4">
            <div class="modal-header mx-auto">
                <p class="modal-title" style="color: red">Вы действительно хотите удалить?</p>
            </div>
            <div class="modal-footer mx-auto">
                <button class="btn btn-outline-danger btn-lg shadow" type="submit">Да, удалить</button>
                <button class="btn btn-outline-success btn-lg shadow" type="button"
                        onclick="history.back()">Я передумал
                </button>
            </div>
        </div>
    </div>
</form>
{% endblock %}
