{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Изменить{% endblock %}

{% block content %}
<form action="" method="POST" enctype="multipart/form-data" style="width: 500px">
    {% csrf_token %}
    {{ form|crispy }}
    <button class="btn btn-outline-warning btn-lg my-2 my-sm-0 shadow" type="submit">Сохранить изменения</button>
    <button class="btn btn-outline-success btn-lg my-2 my-sm-0 shadow" type="button" onclick="history.back()">Я
        передумал
    </button>
</form>
{% endblock %}
