{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}login{% endblock %}

{% block content %}
<h3>Сброс пароля</h3>
<h5>
    Забыли пароль? Введите свой адрес электронной почты ниже, и мы вышлем вам инструкцию, как установить новый пароль.
</h5>
<form action="" method="post" style="width: 400px">
    {% csrf_token %}
    {{ form|crispy }}
    {% if form.email.errors %} {{ form.email.errors }} {% endif %}
    <button type="submit" class="btn btn-outline-danger btn-lg shadow">Сброс пароля</button>
</form>

{% endblock %}