{% extends 'base.html' %}

{% block title %}Добавить{% endblock %}

{% block content %}
<h2 class="text-center">Личный кабинет</h2>
<div class="card mb-3" style="height: auto; width: 100%; background: #f9f9f9">
    <div class="row no-gutters">
        <div class="col-md-4">
            {% if object.custom.avatar %}
            <img src="{{ object.custom.avatar.url }}" class="card-img" height="300">
            {% else %}
            <img src="/media/images/no_images/no_avatar.png" height="300">
            {% endif %}
        </div>
        <div class="col-md-8">
            <div class="card-body ">
                <p class="card-title">Логин - {{ user }}</p>
                <p class="card-text">Имя -
                    {% if object.first_name %}
                    {{ object.first_name }}
                    {% else %}
                    <i style="color: #8D8D8D">не указано</i>
                    {% endif %}
                </p>
                <p class="card-text">Фамилия -
                    {% if object.last_name %}
                    {{ object.last_name }}
                    {% else %}
                    <i style="color: #8D8D8D">не указано</i>
                    {% endif %}
                </p>
                <p class="card-text">Телефон -
                    {% if object.custom.phone %}
                    {{ object.custom.phone }}
                    {% else %}
                    <i style="color: #8D8D8D">не указано</i>
                    {% endif %}
                </p>
                <p class="card-text">Адрес электронной почты -
                    {% if object.email %}
                    {{ object.email }}
                    {% else %}
                    <i style="color: #8D8D8D">не указано</i>
                    {% endif %}
                </p>
                <h4>Домашний адрес:</h4>
                <p class="card-text">Страна -
                    {% if object.custom.country %}
                    {{ object.custom.country }}
                    {% else %}
                    <i style="color: #8D8D8D">не указано</i>
                    {% endif %}
                </p>
                <p class="card-text">Город -
                    {% if object.custom.city %}
                    {{ object.custom.city }}
                    {% else %}
                    <i style="color: #8D8D8D">не указано</i>
                    {% endif %}
                </p>
                <p class="card-text">Улица, дом, квартира -
                    {% if object.custom.street %}
                    {{ object.custom.street }}
                    {% else %}
                    <i style="color: #8D8D8D">не указано</i>
                    {% endif %}
                </p>
                <p class="card-text">Индекс -
                    {% if object.custom.index %}
                    {{ object.custom.index }}
                    {% else %}
                    <i style="color: #8D8D8D">не указано</i>
                    {% endif %}
                </p>
                <p class="card-text">Дополнительна информация -
                    {% if object.custom.info %}
                    {{ object.custom.info }}
                    {% else %}
                    <i style="color: #8D8D8D">не указано</i>
                    {% endif %}
                </p>
                <p>
                    <a href="{% url 'user-update' %}">
                        <button class="btn btn-outline-warning btn-lg  shadow">
                            <i class="fas fa-user-edit"></i> Редактировать профиль
                        </button>
                    </a>
                    <a href="{% url 'password-change' %}">
                        <button class="btn btn-outline-warning btn-lg shadow">
                            <i class="fas fa-key"></i> Сменить пароль
                        </button>
                    </a>
{#                    <a href="{% url 'order-list' object.pk %}">#}
                        <button class="btn btn-outline-warning btn-lg shadow">
                            Посмотреть заказы
                        </button>
                    </a>
                </p>
            </div>
        </div>
    </div>
</div>

<div class="row">
  <div class="col-3">
    <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
      <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">Home</a>
      <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false">Profile</a>
      <a class="nav-link" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab" aria-controls="v-pills-messages" aria-selected="false">Messages</a>
      <a class="nav-link" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-settings" role="tab" aria-controls="v-pills-settings" aria-selected="false">Settings</a>
    </div>
  </div>
  <div class="col-9">
    <div class="tab-content" id="v-pills-tabContent">
      <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">...</div>
      <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">...</div>
      <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">...</div>
      <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab">...</div>
    </div>
  </div>
</div>

{% endblock %}